<div class="container">
  <div class="inner">

  <h1>Sign In With Your BBBS of Colorado Email!</h1>

  <%= form_tag signin_path do |f| %>

  <% if @sign_in_error %>
    <div style="color: #8f1a1c"><%= @sign_in_error %></div>
    <% end %>

  <div class= "form-row">
    <label>
      <%= label_tag :email %><br>
    </label>
    <div>
    <%= email_field_tag :email %>
  </div>
  </div>

  <div class="form-row">
    <label>
    <%= label_tag :password %>
  </label>
  <div>
    <%= password_field_tag :password %>
  </div>
</div>

  <div class= "form-row">
    <div>

    <%= submit_tag "Sign in", class: "ui facebook button" %>
  </div>

  </div>

  <% end %>

</div>
</div>
