<div class="container">
  <div class="inner">

  <h1>Sign In With Your BBBS of Colorado Email!</h1>

  <%= form_tag signin_path do |f| %>

    <% if notice %>
    <div style="color: #8f1a1c">
      <strong><%= notice %></strong>
    </div>
  <% end %>
  
  <div class= "form-row">
    <div>
      <%= label_tag :email %><br>
    </div>
    <div>
    <%= email_field_tag :email %>
  </div>
  </div>

  <div class="form-row">
    <div>
    <%= label_tag :password %>
  </div>
  <div>
    <%= password_field_tag :password %>
  </div>
</div>

  <div class= "form-row">
    <div>
    <%= submit_tag "Sign in", class: "ui facebook button" %>
  </div>
  </div>

  <% end %>

</div>
</div>
