<div class="container">
  <div class="inner">

    <div>
      <h4>Sign Up With Your BBBS of Colorado Email!</h4>
    </div>

      <%=  form_for(@user, url: signup_path, :html => { :class => "form-stacked"} )  do |f| %>

      <% if @user.errors.present? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li style="color: #8f1a1c"><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-row">
        <label>
          <%= f.label :first_name %>
        </label>
        <div>
          <%= f.text_field :first_name, class: "form-control"%>
        </div>
      </div>

      <div class="form-row">
        <label>
          <%= f.label :last_name %>
        </label>
        <div>
          <%= f.text_field :last_name, class: "form-control"%>
        </div>
      </div>

      <div class="form-row">
        <label>
          <%= f.label :email %>
        </label>
        <div>
          <%= f.text_field :email, class: "form-control"%>
        </div>
      </div>

      <div class="form-row">
        <label>
          <%= f.label :password %>
        </label>
        <div>
          <%= f.password_field :password, class: "form-control"%>
        </div>
      </div>

      <div class="form-row">
            <div><%= f.submit "Sign Up", class: "ui facebook button" %></div>
      </div>

  <% end %>

</div>
</div>
