
    <%=  form_for(@event, :html => { :class => "form-stacked"} )  do |f| %>

    <% if @event.errors.present? %>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li style="color: #8f1a1c"><strong><%= message %></strong></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-row">
      <div>
      <%= f.label :event_image %>
    </div>
      <div>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :title %>
      </label>
      <div>
        <%= f.text_field :title, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :description %>
      </label>
      <div>
        <%= f.text_area :description, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :date %>
      </label>
      <div>
        <%= f.date_field :date, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :start_time %>
      </label>
      <div>
        <%= f.time_field :start_time, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :end_time %>
      </label>
      <div>
        <%= f.time_field :end_time, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :address %>
      </label>
      <div>
        <%= f.text_field :address, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :city %>
      </label>
      <div>
        <%= f.text_field :city, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :state %>
      </label>
      <div>
        <%= f.text_field :state, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <label>
        <%= f.label :zipcode %>
      </label>
      <div>
        <%= f.text_field :zipcode, class: "form-control"%>
      </div>
    </div>

    <div class="form-row">
      <div>
        <div>
          <div><%= f.submit class: "ui facebook button " %></div><br>
          <div><%= link_to "Cancel", root_path, class: "ui button" %></div>
        </div>
      </div>
    </div>


<% end %>
