<div id="page" class="hfeed site">

      <div id="boxed_content" class="boxed_content">
          <div class="inner">



		<div id="content" class="site-content">

			<div class="page-inner">
				<div class="container">

					<div id="primary" class="content-area">

                          <header class="page-header">
                              <br>
                              <h1 class="page-title"><%= @event.title %></h1>
                          </header>

                              <div class="event_single">

                                  <div class="event_widget">

                                      <div class="event_item has_map dark_shadow clearfix">
                                          <div class="event_map">
                                              <iframe src="https://www.google.com/maps/embed/v1/place?q=<%= format_gmap_address(@event.address, @event.city, @event.state, @event.zipcode) %>/@<%="#{@event.latitude}%2C%20#{@event.longitude}"%>&key=AIzaSyCw2WGT9C4m4tYbB_UrTiQYsc92YotDjHU" width="600" height="250" frameborder="0" style="border:0"></iframe>
                                          </div>
                                          <div class="event_left">
                                              <div class="event_date"><%= @event.date.strftime('%A, %B %d, %Y') %></div>
                                              <div class="event_month"><%= "#{@event.start_time.strftime('%H:%M%p')} - #{@event.end_time.strftime('%H:%M%p')}"  %></div>
                                          </div>
                                          <div class="event_detail">
                                            <div class="event_location"><i class="map marker icon"></i><%="#{@event.address}"%>
                                              <p><%="#{@event.city}, #{@event.state} #{@event.zipcode}"%></p></div>
                                          </div>
                                      </div>
                                      <article class="post">

                                          <div class="entry-content">
                                              <p><%= @event.description %></p>
                                          </div>

                                      </article>

                                  </div>
                              </div>

                                <!-- Carousel outer containers -->
                                <!-- Each do event -->
                                <!-- Unless event is == current event id -->


                                <!-- Render each slide with info or whatever -->



					</div>
				</div>
			</div>
		</div>
    </div>
	</div>
</div>
